.mainColoumn{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.headingColoumn{
 display: flex;
 flex-direction: column;
 text-align: center;
 font-size: 40px;
 font-family: 'Times New Roman', Times, serif;
 color: rgb(8, 8, 20);
 padding: 10px;
}



.error-output{
  margin-left:10px ;
  font-size: 12px;
  font-style: italic;
  color: red;
}

.logoClass{
  display: flex;
  align-items: center;
}